/* Normalize, Clearfix and Flexbox */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { box-sizing: border-box;}

body{
	width: 75%;
	margin: 0 auto;
	background-color: black;
	font-family: 'Saira Semi Condensed', sans-serif;

}

h1 + p{
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	width: 50%;
	float: right;
	margin-right: 5%;

}

#header{
	margin-bottom: 20px;
	color: white;
}

#app{
	width: 50%;
	float: left;
}

#widget{
	display: flex;
	flex-wrap: wrap;

}

#widget div{
	width: 60%;
	font-size: 18px;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-content: space-around;
	text-align: left;
	margin-bottom: 10px;
	color: green;
	border-bottom: 1px solid white;

}

#widget :not([class]){

	display: inline-block;
	width: 30%;
	color: white;
	float: left;
	background-color: black;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 3px;


}

#calculations{
	width: 50%;
	float: left;
	color: white;
	margin-top: -25px;

}

#tradePairOneNode, #tradePairTwoNode , #tradePairThreeNode {
	float: left;
	font-size: 18px;
}

#tradePairTwoNode{
	margin-left: 10px;
	margin-right: 10px;
}

#tradePairOneNode div, #tradePairTwoNode div, #tradePairThreeNode div{
	font-size: 30px;
	color: green;
	font-weight: bold;
	letter-spacing: 3px;

} 

#profitOrLoss, #highestBidAskDifference, #arbitrageTicker{
	font-weight: bold;
	font-size: 15px;
}

.notProfitable{
	color: red;
}

.profitable{
	color: green;
}

#profitability{
	margin: 0 auto;

}

select{
	margin-bottom: 10px;
	width: 90%;
}



h2{
	margin-top: -25px;
	font-size: 20px;
}

#triangularArbitrageCalculations{
	clear: both;
	display: block;
	color: white;
	margin-top: 20px;
	width: 90%;


}

#triangularArbitrageCalculations{
	
}


h3{
	clear:both;
}



